version: '3'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: mydb
    ports:
      - "5433:5433"
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:
